.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.header a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

/* Estilos para la tabla */
.table-container {
    margin-top: 20px;
}

/* Esperaaaaa*/

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"],
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover,
a:hover {
    background-color: #333;
}

/* ------------------------------------------------------------- */

.message {
    color: red;
}

